/*-- scss:defaults --*/

// Base document colors
$body-bg: #FBFBFB;
$body-color: #222222;
$link-color: #002FA7;

$light: #727272;

// Navigation element colors
$footer-bg: #FBFBFB;
$navbar-bg: #FBFBFB;
$sidebar-bg: #FBFBFB;

// Code blocks
$code-block-bg-alpha: -.8;

// Bootstrap popovers
$popover-bg: #FBFBFB;

// Bootstrap inputs
$input-bg: #FBFBFB;